#drum-machine {
  text-align: center;
}

#pad-bank {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.drum-pad {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.drum-pad:hover {
  background-color: #aaa;
}

#display {
  margin-top: 20px;
  font-size: 24px;
}
